<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">

		 <h1>
			<span th:text="${project.name }"
				th:remove="tag">title</span>
		</h1>
			<br>
			<br>

		<form class="form-group" th:object="${project}"
			th:action="@{/projects/saveProject}" method="post">
			<input th:type="hidden" name="id" th:field="${project.id}" />

			<div class="form-group">
				<label>Project Name</label> <input type="text" class="form-control"
					th:field="*{name}" />
			</div>

			<div class="form-group">
				<label>Project Type</label> <input type="text" class="form-control"
					th:field="*{projectType}"/>
			</div>

			<div class="form-group">
				<label>Description</label> <input type="text"
					class="form-control" th:field="*{description}" />
			</div>
			<div class="form-group">
				<label> Start Date</label> <input type="date"  class="form-control"
					th:field="*{startDate}" />
			</div>
			<div class="form-group">
				<label>End Date</label> <input type="date" 
					class="form-control" th:field="*{endDate}" />
			</div>
			<div class="form-group">
				<label>Cost</label> <input type="text" class="form-control"
					th:field="*{cost}" />
			</div>
						
			<button type="submit" class="btn btn-primary">Save</button>
			
			<a href="#" th:href="@{/projects}" class="btn btn-danger"
				role="button">Cancel</a>
		</form>

	</div>

</body>
</html>