<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
     <title>Getting Started: Serving Web Content</title>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header" th:replace="fragments/header :: header">
		<div class="container"></div>
	</div>
	<div class="container">
		<label>Search: </label>
		<input type="text" id="myInput" onkeyup="myFunction()"  title="Type in a name">
	</div>
<div class="container">
     <h2>Clients List</h2>
     <a href="#" th:href="@{/clients/new}" class="btn btn-primary" role="button">Add New Client</a>
			<br>
			<br>
    <table id="myTable" class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Telephone</th>
            <th>Email</th>
            <th></th>
            <th></th>
            
        </tr>
        <tr th:each="client : ${clients}">
            <td th:text="${client.name}"></td>
            <td th:text="${client.address}"></td>
            <td th:text="${client.telephone}"></td>
            <td th:text="${client.email}"></td>
            <td><a th:href="@{'/client/' + ${client.id} + '/update'}">Update</a></td>
            <td><a th:href="@{'/client/' + ${client.id} + '/delete'}">Delete</a></td>
        </tr>
    </table>
</div>
<script>
	function filterTable(event) {
	    var filter = event.target.value.toUpperCase();
	    var rows = document.querySelector("#myTable tbody").rows;
	    
	    for (var i = 0; i < rows.length; i++) {
	        var firstCol = rows[i].cells[0].textContent.toUpperCase();
	        var secondCol = rows[i].cells[1].textContent.toUpperCase();
	        var thirdCol = rows[i].cells[2].textContent.toUpperCase();
	        var forthCol = rows[i].cells[3].textContent.toUpperCase();
	        var fifthCol = rows[i].cells[4].textContent.toUpperCase();
	        var sixthCol = rows[i].cells[5].textContent.toUpperCase();
	        var seventhCol = rows[i].cells[6].textContent.toUpperCase();
	        var eighthCol = rows[i].cells[7].textContent.toUpperCase();
	        if (firstCol.indexOf(filter) > -1 || secondCol.indexOf(filter) > -1 || thirdCol.indexOf(filter) > -1
	        		|| forthCol.indexOf(filter) > -1 || fifthCol.indexOf(filter) > -1 || sixthCol.indexOf(filter) > -1
	        		|| seventhCol.indexOf(filter) > -1 || eighthCol.indexOf(filter) > -1) {
	            rows[i].style.display = "";
	        } else {
	            rows[i].style.display = "none";
	        }      
	    }
	}

	document.querySelector('#myInput').addEventListener('keyup', filterTable, false);
	</script>
</body>
</html>