<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header" th:replace="fragments/header :: header">
		<div class="container"></div>
	</div>
	<div class="container">
		 <h1>
			<span th:text="${'Project Name: ' + project.name }"
				th:remove="tag">title</span>
		</h1>
		
		<h4>Employees List</h4>
		<table class="table table-striped">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Date of Birth</th>
				<th>Telephone</th>
				<th>Job Title</th>
				<th>Hiring Date</th>
				<th>Termination Date</th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each="employee : ${employees}">
				<td th:text="${employee.firstName}"></td>
				<td th:text="${employee.lastName}"></td>
				<td th:text="${employee.email}"></td>
				<td th:text="${employee.dob}"></td>
				<td th:text="${employee.telephone}"></td>
				<td th:text="${employee.jobTitle}"></td>
				<td th:text="${employee.hiringDate}"></td>
				<td th:text="${employee.terminationDate}"></td>
			</tr>
		</table>
		<a href="#" th:href="@{/projects}" 
				role="button">Go back</a>
	</div>
</body>
</html>