<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="container-fluid" style="margin-top: 20px">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="pannel-group">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<div class="row">
									<div class="col-md-3">
										<h1 class="panel-title"
											th:text="${employee.firstName + ' ' + employee.lastName}">Employee
											Information</h1>
									</div>
								</div>
							</div>
							<div class="panel-body">

								<div class="row">
									<div class="col-md-3">
										<img src="../../static/images/guacamole400x400WithX.jpg"
											th:src="@{'/employee/' + ${employee.id} + '/employeeimage'}"
											width="200" height="200">
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<h3
											th:text=" 'Name: ' + ${employee.firstName + ' ' + employee.lastName}">
											name</h3>
									</div>
								</div>

								<div class="row">
									<div class="col-md-3">

										<h4 th:text=" 'Date of Birth: ' + ${employee.dob}">name</h4>
									</div>
								</div>

								<div class="row">
									<div class="col-md-3">
										<h4 th:text=" 'Hiring Date : ' + ${employee.hiringDate}">
											name</h4>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<a href="#" th:href="@{/employees}" 
				role="button">Go back</a>
			<br> <br>
		</div>
	</div>

</body>
</html>